/* header css */
/* upper header */
.top-header {
  background-color: #474747;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
}

.top-header-inside {
  max-width: 1600px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header-left,
.top-header-right {
  display: flex;
  gap: 4px;
}

.fa-envelope {
  margin-left: 25px;
}

/* bottom header */
.header {
  display: flex;
  margin: 0 auto;
  margin: 29px 155px 20px 151px;
  width: 100%;
  height: 55px;
}

.header-inside {
  max-width: 1293px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.nav-bar-ul li a {
  margin: 0;
  color: #000;
}

.home {
  background-color: #dbdfd0;
  padding: 4px 16px;
  gap: 10px;
  border-radius: 34px;
}

.nav-bar-button {
  border: 1.5px solid #2c2f24;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 118px;
  padding: 12px 24px;
  gap: 10px;
}

/* adding mask css */
.mask {
  background-color: #f9f9f7;
  width: 100%;
  height: auto;
  position: relative;
}

.mask-photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 951px;
  width: 100%;
}

.mask-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* mask photo info css */
.mask-ph-all-info {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 667px;
  height: 392px;
}

.mask-ph-h1 {
  font-size: 100px;
  line-height: 96px;
  text-align: center;
  width: 667px;
  height: 192px;
  color: #2c2f24;
}

.mask-ph-p {
  font-size: 20px;
  line-height: 32px;
  width: 537px;
  height: 64px;
  margin: 32px 40px 0 65px;
}

/* buttons css */
.mask-photo-buttons {
  width: 349px;
  height: 64px;
  gap: 16px;
  margin-left: 159px;
  margin-top: 40px;
}

.mask-ph-but-1 {
  width: 163px;
  height: 64px;
  /* padding: 20px 32px 20px 32px; */
  gap: 10px;
  border-radius: 118px;
  opacity: 0px;
  background-color: #ad343e;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.mask-ph-but-2 {
  width: 170px;
  height: 64px;
  /* padding: 20px 32px 20px 32px; */
  gap: 10px;
  border-radius: 118px;
  border: 1.5px 0px 0px 0px;
  opacity: 0px;
  border: 1.5px solid #2c2f24;
  background-color: #fff;
  color: #182226;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* menu section css */
.menu {
  max-width: 1600px;
  width: 100%;
  max-height: 712px;
  height: auto;
}

.whole-box-of-menu {
  max-width: 1296px;
  width: 95%;
  max-height: 500px;
  height: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.menu-box-hed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 92px;
}

.menuBox-header {
  max-width: 450px;
  height: 61px;
  gap: 20px;
  opacity: 0px;
  font-size: 55px;
  line-height: 60.5px;
  color: #2c2f24;
  text-align: center;
  margin-left: 400px;
}

/* container of cards */
.menu-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 64px 0px 120px 300px;
  max-width: 1296px;
  height: 375px;
  gap: 24px;
}

/* cards css */
.menu-item {
  width: 306px;
  height: 375px;
  border: Mixed solid #dbdfd0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-bg {
  width: 238px;
  height: 303px;
  gap: 30px;
  opacity: 0px;
}

.menu-icon-info-container {
  width: 238px;
  height: 117px;
  gap: 15px;
  opacity: 0px;
  margin-top: 30px;
}

.menu-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #2c2f24;
}

.menu-p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #414536;
  margin-top: 15px;
}

.icon-explore {
  margin-top: 30px;
  gap: 10px;
  border-radius: 12px;
  opacity: 0px;
  color: #ad343e;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  text-align: center;
}

/* about section css */
.about {
  width: 1600px;
  height: 856px;
  background-color: #f9f9f7;
}

.about-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 120px;
}

/* left side of about */

/* about img */
.about-img {
  width: 758px;
  height: 566px;
  object-fit: cover;
  border-radius: 12px;
}

.left-side-about {
  position: relative;
  display: flex;
  width: fit-content;
  /* margin-top: 40px; */
}

/* about card css */
.about-card {
  position: absolute;
  bottom: -40px;
  left: 420px;
  background-color: #474747;
  padding: 20px;
  width: 411px;
  height: 321px;
  border-radius: 12px;
}

.about-card-info {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
}

.about-card-info-h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
}

.about-car-info-inside {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fa-solid,
.fa-regular {
  margin-right: 10px;
}

.inside-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

/* right side of about */
.right-side-about {
  width: 557px;
  height: 457px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

/* right side text */
.right-side-text {
  width: 557px;
  height: 353px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.about-right-h2 {
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  color: #2c2f24;
  width: 557px;
  height: 121px;
}

.about-right-p1 {
  width: 557px;
  height: 112px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #2c2f24;
}

.about-right-p2 {
  width: 557px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #414536;
}

/* about button */
.about-right-but {
  width: 179px;
  height: 64px;
  border-radius: 118px;
  border: 1.5px solid #2c2f24;
  background-color: #fff;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  align-self: flex-start;
}

/* services section css */
.Services {
  width: 1600px;
  height: 868px;
  background-color: #fff;
}

.services-everything {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  margin-left: 152px;
}

.servieces-h2 {
  gap: 391px;
  width: 675px;
  height: 121px;
  /* background-color: #ad343e; */
  font-weight: 500;
  font-size: 55px;
  line-height: 65px;
  color: #2c2f24;
  align-items: flex-start;
}

.services-container {
  display: flex;
  flex-direction: row;
  /* background-color: #414536; */
  width: 1296px;
  height: 443px;
  gap: 24px;
  margin-top: 64px;
}

.services-box {
  width: 306px;
  height: 443px;
}

.Services-img {
  border-radius: 12px;
}

.services-info {
  width: 280px;
  height: 93px;
  gap: 15px;
  margin-top: 30px;
}

.services-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2c2f24;
}

.services-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #414536;
}

/* content section css */
.content {
  width: 1600px;
  height: 867px;
  background-color: #f9f9f7;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  height: 100%;
}

/* imgs container */
.content-imgs-container {
  display: flex;
  flex-direction: row;
  width: 745px;
  height: 627px;
  border-radius: 12px;
  margin-right: 90px;
}

.chief-img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 431px;
  height: 600px;
  border-radius: 12px;
  object-fit: cover;
}

.right-side-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 290px;
  height: 100%;
  margin-left: 24px;
}

.soup-img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 333px;
  width: 100%;
  height: 333px;
  border-radius: 12px;
  object-fit: cover;
  margin-top: 30px;
}

.meat-img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 240px;
  width: 100%;
  height: 240px;
  border-radius: 12px;
  object-fit: cover;
}

/* text container */
.content-text-container {
  width: 461px;
  height: 369px;
  gap: 50px;
}

.content-title-container {
  width: 461px;
  height: 189px;
  gap: 20px;
}

.content-title-h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  color: #2c2f24;
}

.content-title-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #414536;
}

/* text features css*/
.content-features-container {
  width: 302px;
  height: 130px;
  gap: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.content-icons {
  width: 302px;
  height: 30px;
  gap: 20px;
}

.content-icon {
  margin-right: 20px;
}

.content-icon-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #2c2f24;
}

/* testimonial section css */
.testimonial {
  width: 1600px;
  height: 766px;
}

.testimonial-cont {
  width: 1296px;
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
}

.testimonial-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 626px;
  height: 61px;
}

.testimonial-h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  text-align: center;
  color: #2c2f24;
}

/* testimonial cards */
.testimonial-cont {
  width: 1296px;
  height: 533px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  margin-top: 98px;
}

.testimonial-container {
  width: 1296px;
  height: 408px;
  gap: 24px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 100%;
  margin-top: 64px;
}

.testimonial-inside-content {
  width: 416px;
  height: 408px;
  background-color: #f9f9f7;
  display: flex;
  flex-direction: column;
}

.testimonial-inside-content-text {
  width: 346px;
  height: 194px;
  gap: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 45px 0 0 35px;
}

.testimonial-text-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ad343e;
}

.testimonial-text-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #414536;
}

.testimonial-line {
  width: 346px;
  border: 1px solid #dbdfd0;
  opacity: 70%;
  margin: 32px 35px 32px 35px;
}

/* users in card in testimonial */
.testimonial-user-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 211px;
  height: 70px;
  margin: 0px 0px 35px 35px;
}

.testimonial-img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}

.testimonial-user-info {
  width: 121px;
  height: 51px;
  gap: 3px;
}

.testimonial-user-p1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2c2f24;
}

.testimonial-user-p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #414536;
}

/* blog section css */
.blog {
  width: 1600px;
  height: 1117px;
  background-color: #f9f9f7;
}

.blog-content {
  width: 1296px;
  height: 860px;
  gap: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  height: 100%;
}

/* title of blog content */
.blog-title {
  width: 1296px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.blog-title-h2 {
  width: 485px;
  height: 61px;
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  color: #2c2f24;
}

.blog-title-button {
  width: 191px;
  height: 64px;
  border-radius: 118px;
  gap: 10px;
  background-color: #ad343e;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* blog cards css */
.blog-cards-container {
  display: flex;
  flex-direction: row;
  width: 1296px;
  height: 732px;
  border: 1px solid #f9f9f7;
}

/* left side of blog */
.blog-left-side {
  width: 632px;
  height: 732px;
  border: 1px solid #f9f9f7;
  background-color: #ffffff;
  box-shadow: 0px 2.98px 59.57px 0px #00000014;
}

.blog-card-big {
  width: 636px;
  height: 679px;
}

.burger-icon {
  width: 632px;
  height: 456px;
  gap: 0px;
  border-radius: 12px 12px 0px 0px;
  opacity: 0px;
  margin-bottom: 25px;
}

/* text in left side in blog*/
.blog-text {
  width: 568px;
  height: 178px;
  gap: 15px;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-left: 35px;
  border-radius: 12px;
}

.blog-text-calendar {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #737865;
  margin-bottom: 15px;
}

.blog-text-hed {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #2c2f24;
}

.blog-text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #414536;
}

/* right side of blog */
.blog-right-side {
  width: 632px;
  height: 732px;
  border: 1px solid #f9f9f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-left: 24px;
}

.blog-card-small {
  width: 306px;
  height: 354px;
  border: 1px solid #f9f9f7;
  background-color: #ffffff;
  box-shadow: 0px 2.98px 59.57px 0px #00000014;
  border-radius: 12px;
  flex: 1 1 calc(50% - 20px);
}

.blog-icons {
  width: 306px;
  height: 200px;
  gap: 0px;
  border-radius: 12px 12px 0px 0px;
  opacity: 0px;
}

.blog-card-text {
  width: 256px;
  height: 110px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  margin-top: 25px;
}

.blog-small-card-text-calendar {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737865;
}

.blog-small-card-text-hed {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #2c2f24;
}

/* footer */
footer {
  width: 1600px;
  height: 778px;
  background-color: #474747;
}

.footer-cont {
  width: 1296px;
  height: 573px;
  border-width: 0px;
  border-style: solid;
  border-color: #414536;
  color: #adb29e;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
/* footer top part */
.footer-top-container {
  width: 1296px;
  height: 419px;
  gap: 135px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  height: 100%;
  margin-left: 152px;
  margin-top: 120px;
}

/* column 1 css */
.footer-top-col-1 {
  width: 293px;
  height: 222px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
/* footer logo */
.footer-logo {
  width: 211.17px;
  height: 55px;
  gap: 0px;
  opacity: 0px;
  /* background-color: #fff; */
  margin-bottom: 30px;
}

.footer-col-1-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.footer-social {
  width: 176px;
  height: 35px;
  gap: 12px;
}

/* column 2 in footer css */
.footer-top-col-2 {
  width: 330px;
  height: 352px;
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.footer-top-col-2-1 {
  width: 61px;
  height: 352px;
  gap: 40px;
}

.footer-top-col-2-1-hed { 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer-ul-li-a {
  font-size: 16px;
  color: #DBDFD0;
  gap: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer-top-col-2-2 {
  width: 149px;
  height: 352px;
  gap: 40px;
}

.footer-top-col-2-2 ul li, .footer-top-col-2-1 ul li {
  margin: 20px 0;
}


.footer-top-col-2-2-hed {
  width: 96px;
  height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

/* column 3 in footer css */

.footer-top-col-3 {
  width: 403px;
  height:419px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.footer-col-3-p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.footer-col-3-imgs {
  border-radius: 12px;
  gap: 15px;
}

#fries-img {
  margin-left: 10px;
  margin-bottom: 10px;
}

#mexican-img {
  margin-top: 10px;
  margin-right: 10px;
}

/* footer bottom part */
.footer-bottom {
  width: 1296px;
  height: 54px;
  border: 1px solid #414536;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
