.top-header {
    background-color: #474747;
    max-width: 1600px;
    width: 90%;
    height: 45px;
}

/* footer */

/* footer logo */
.footer-logo {
    width: 211.17px;
    height: 55px;
    gap: 0px;
    opacity: 0px;
}